<body>
  <h1>Weather</h1>
  <h2 class="city"></h2>
  <h3 class="date"></h3>
  <p class="info">
    <h3 class="temp"></h3>
    <h3 class="humidity"></h3>
    <h3 class="pressure"></h3>
    <h3 class="windSpeed"></h3>
  </p>
</body>

<script>
  var config = {
    api_key: '7e69fbc75605e65f36b3c050aa9a0846',
    city_default : 'La Plata'
  }    
</script>
<script src="weather.js"></script>